@page "/"
@using BlazorTutorial.CoreBusiness;
@using BlazorTutorial.UseCases.Inventories.Interfaces;

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Test Page</PageTitle>
<!-- The 'at' sign tells the compiler that you are writing C#-->
<ul>
    @foreach(var inv in _inventories)
    {
        <li>@inv.InventoryName</li>        
    } 
</ul>

@code {

    private List<Inventory> _inventories = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
